/** Styles for global project tools - student view **/

/* SHOW ALL WORK */

#showallwork .bd {
	padding:5px;
}

#showWorkContainer {
	background-color:#FFF;
	margin:0 auto;
	text-align:left; 
	overflow: auto;
	padding:5px 10px;
	margin:0px;
}


#showallwork .bd #showallStep {
	background:#ffCe8e;
	color:#000;
	padding:4px 10px;
	margin:10px 0x;
	border:1px solid #333;
	font-size:1em;	
	font-weight:bold;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}

#showallwork .bd #showallStep .type {
	display:inline;
	margin-left:30px;
	color:#666;
	font-weight:bold;
	font-size:.9em;
	}

#showallwork .bd .showallstatus {
	margin: 4px 0 0 20px;
	color:#333;
	font-size:.8em;
	}

#showallwork .showallLatestWork {
	margin: 4px 0 10px 0px;
	color:#000;
	font-size:1.2em;
	font-weight:bold;
	}
	
#showallwork .bd #teacherTable {
	border-collapse:collapse;
	margin: 4px 0 20px 20px;
		}

#teacherTable .teachermsg1, #teacherTable .teachermsg2 {
	color:blue;
	font-size:1.1em;
	font-weight:bold;
	
	}
	
#teacherTable .teachermsg2 {
	font-style:italic;
	
	}
	
#showallwork .bd #teacherTable .teachermsg3 {
	color:#333;
	font-size:.8em;
	font-weight:bold;
	
	}
	
#showAllWorkScoresTable {
	width:550px;
	border-collapse:collapse;
	border:1px solid black;
	margin:10px 0 20px 10px;
}


#showAllWorkScoresTable td {
	padding:5px;
	border:1px solid #333;
	text-align:center;
	font-size:.7em;
}

#showAllWorkScoresTable .scoreHeader {
	font-size:1.1em;
	letter-spacing:.2em;
	background-color:#4E628B;
	color:#fff;
	text-align:center:
}

#showAllWorkScoresTable .scoreValue {
	color:#19253d;
	font-weight:bold;
	font-size:.9em;
}

/* FLAGGED WORK */