/*
 * CSS styling for ui tool icons
 */

.tool-icon-right {
	margin:0 -1px 0 4px;
	/*float:right;*/
}

.tool-icon {
	display: inline-block;
    margin: 0 4px 0 -2px;
    vertical-align: middle;
	/*float:left;*/
}

.tool-label-right {
	line-height:16px;
}

.action-icon {
	background-image:url("/vlewrapper/vle/images/action-icons.gif");
	height:16px;
	width:16px;
}

.disabled .action-icon {
	background-image:url("/vlewrapper/vle/images/action-icons-inactive.gif") !important;
}

.action-icon-new {
	background-position:-34px -2px;
}

.action-icon-new2 {
	background-position:-2px -2px;
}

.action-icon-import {
	background-position:-98px -20px;
}

.action-icon-move {
	background-position:-98px -2px;
}

.action-icon-copy {
	background-position:-50px -2px;
}

.action-icon-delete {
	background-position:-18px -2px;
}

.action-icon-hide {
	background-position:-50px -38px;
}

.action-icon-show {
	background-position:-34px -38px;
}

.action-icon-clone {
	background-position:-66px -2px;
}

.action-icon-select {
	background-position:-162px -20px;
}

.action-icon-deselect {
	background-position:-178px -20px;
}