.instructionsReminder {
	float:right;
	text-align:right;
	margin: 12px 15px 0 0 ;
	font-size:.8em;
	color:#333333;
}

#currentQuestionBox {
	margin: 0 auto;
	padding:10px 0;
	text-align:left;
	}
	
#currentQuestionBox #leftColumn { 
	float:left;
	width:76%;
	padding:10px 0;
	background-color:#FFD9ac;
	}
	
#currentQuestionBox #rightColumn {
	margin-left:77%;
	padding:10px 0;
	text-align:center;
	background-color:#6883BA;
	color:#FFF;
	}

.itemLabel {
	font-size:.7em;
	text-transform:uppercase;
	margin:5px 0 0 15px;
}

#promptdiv {
	font-size:1.0em;
	color:#000;
	margin:3px 10px 15px 15px;
	font-weight:bold;
}

#promptdiv tt {
	font-size:150%;
	font-weight:700;
}

#promptdiv ol {
	font-size:.8em;
	text-transform:uppercase;
	margin-left:25px;
}

#radiobuttondiv {
	margin: 10px 20px 20px 20px;
	line-height:1.2em;
}

#radiobuttondiv input {
	color:#666666;
	font-style:italic;
	}

#submitbuttonDiv {
	text-align:center;
	margin:5px;
	}
	
#submitbuttonDiv input *{
	font-size:.8em;
	font-weight:bold;
	}
	
#statusMessages {
	text-align:center;
	margin:10px auto;
	padding:10px;
	}

#numberAttemptsDiv, #lastAttemptDiv {
	display:inline;
	font-size:.8em;
	color:#333;
	margin:0;
	padding:0;
	}
	
#feedbackDiv {
	width:70%;
	font-size:.9em;
	margin:5px auto;
	padding:2px;
	text-align:center;
	color:#19253D;
}

