#svg_editor #tool_prompt a {
	text-decoration:underline;
	font-size:1.1em;
}

#svg_editor #tool_prompt {
	cursor: pointer;
    float: right;
    margin-left: 4px;
    padding-top: 34px;
}

#svg_editor #tool_prompt div {
	padding:2px;	
}

#svg_editor img.tool_prompt {
	vertical-align:middle;
	height:24px;
	margin-left:2px;
	cursor:pointer;
}