 /* Primary Styles
    Author: Jonathan Breitbart
 */
body {
}

.ui-widget {
	font-size:1em !important;
}

header {
  margin:.5em 0;
  text-align:center;
  font-size:1.25em;
  color:#000000;
}

#container {
  width:700px;
  margin:auto;
  display:block;
  height:500px;
}

#main {
  height:auto !important;
  border:2px solid #444; 
}

#addNew {
  margin:0 .5em;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

#question {
  padding:.75em;
  font-weight:bold;
  font-size:1.2em;
  color:#222222;
  background-color:#FFE59F;
}

#ideas, #explanation {
  border-top:2px solid #444;
  position:relative;
  display:block;
  height:480px;
}

#ideas {
  width: 210px;
  display: block;
  float: left;
}

#ideasWrapper {
  height:440px;
  max-height:440px;
  border-bottom:1px solid #777;
  overflow:auto;
}

#ideasWrapper.hover, #ideasWrapper.hover td {
  background-color:#FFDFE0;
}

#target.hover {
  background-color:#DFFFE0;
}

#ideasEmpty {
  margin: .5em;
}

table.tablesorter {
  width:100%;
}

table#activeIdeas {
  margin-top:0;
  margin-bottom:0;
}

th.tags {
  width:75px;
}

th.flag {
  width:25px;
}

table.tablesorter tbody tr {
  line-height: 1.5em;
}

table.tablesorter tbody tr.drag td, table.tablesorter tbody tr.inuse td {
  background-color:#eee;
  color: #777;
}

tr.ui-draggable-disabled:hover td {
  background-color:#fff !important;
}

#addNew {
  margin-top:.65em;
}

#explanation {
  margin-left:210px;
  padding:0;
  background-color:#eee;
  border-left: 2px solid #444444;
}

#explanationSpace {
  /*border-left:none;*/
  position:relative;
}

#explanationIdeas{
  height:315px;
  border-bottom:1px solid #777;
  background-color:#fff;
}

.drag-idea table {
  margin:0;
}

#target {
  height:315px !important;
  position:relative;
}

#spacePrompt {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  bottom: 30%;
  margin: 2em;
  padding: 0.5em;
  position: absolute;
  opacity:.9;
}

.exIdea {
  width: 150px;
  padding: .5em;
  border: 2px solid #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:rgb(38, 84, 207);
  /*background-color:#2654CF;*/
  color:#fff;
  text-align:center;
  cursor:pointer;
  box-shadow: 0px 0px 4px #fff;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 6px #fff;
}

.exIdea span:hover {
  color:#FFE59F;
  /*border-color:yellow;*/
}

.deleted {
  color:#333333;
}

.deleted span:hover {
  color:#333333;
}

.selected {
  -moz-box-shadow: 0 0 4px #000000;
  -webkit-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
  border: 2px solid #FFE59F;
  color: #FFE59F;
}

#colorPicker {
  position:absolute;
  width:26px;
  top:-2px;
  right:-30px;
  border:2px solid #222;
  display:none;
  z-index:1000;
  background-color:#222;
}

.color {
  width:20px;
  height:20px;
  margin:2px;
  border:1px solid #222;
  cursor:pointer;
}

.current {
  border-color:#eee;
  border-width:2px;
  width:18px;
  height:18px;
}

#answer {
}

#instruction {
  padding:.75em;
  color:#000;
}

.textWrapper {
  padding:0 .75em;
}

textarea#explanationText {
  max-height:75px;
  max-width:100%;
  width:100%;
  height:75px;
  padding: 0.5em;
}

button#save {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    float: right;
    margin: 7px 10px;	
}

.ui-state-disabled {
	color:#AAAAAA;
	background-color:#DDDDDD;
	cursor:pointer !important;
	opacity:.5;
}

img.notification {
	top: -13px;
    position: absolute;
    left: -13px;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url('/vlewrapper/vle/jquery/css/jquerytools/black_arrow_132w.png');
	font-size:12px;
	height:60px;
	width:176px;
	padding:25px 25px 45px;
	color:#fff;
	z-index:1000;
	text-align:left;
}

.tooltip.bottom {
	background:transparent url('/vlewrapper/vle/jquery/css/jquerytools/black_arrow_132w_bottom.png');
	padding-top:40px;
	height:45px;
}

.notificationLinks {
	text-align:right;
	margin-top:10px;
}

a.notificationLink {
	margin-left:10px;
	color:#FFFFFF;
	font-weight:bold;
}

a.notificationLink:hover {
	text-decoration:underline;
	color:#FBCB09;
}