
#promptdiv {
	font-size:.9em;
	font-weight:bold;
	color: #000033;
	padding:15px 15px 20px 15px;
	text-align: left;
}

#promptdiv p {
	font-size:.9em;
	}

.instructionsReminder {
	float: right;
	text-align: right;
	margin: 2px 15px 0px 0;
	color: #333;
	vertical-align: middle;
}

.assessment {
	border:1px solid #ccc;
	margin:7px 15px;
	padding:10px;
	font-size:.9em;
	font-weight:normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.assessment .promptDiv {
	margin-bottom:5px;
}

.assessment input[type='radio'] {
	margin-left:35px;
}

.assessment textarea {
	margin-left:25px;
	min-height:80px;
	width:90%;
	padding:5px;
}

.choicetextSpan  {
	margin-left: 5px;
}

.stepAlreadyCompleteDiv  {
	font-weight:bold;
	margin:15px;
	color:#993300;
}

/* STYLING FOR QUESTIONNAIRE SUBMIT BUTTON */

#submitButtonDiv {
	margin: 10px auto;
}

#submitButtonDiv input {
	display:block;
	vertical-align:center;
	padding:5px 15px;
	margin:15px auto;
	font: bold Verdana, Arial, sans-serif;
	font-size:.9em;
	background-color:#164cba;
	background-color:#1e69ff;
	color: #FFF;
	text-transform: capitalization;
	border:1px solid #333;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#submitButtonDiv input:hover {
	background-color: #FFFF00;
	color:#333;
	cursor:pointer;
	}

#submitButtonDiv .disabledLink:hover {
	background-color: #666;
	color: #999999;
	cursor:default;
}

#submitButtonDiv .disabledLink {
	background-color: #666;
	color: #999999;
	outline: 0;
}