<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="../css/W4_Master_032409.css" />

<title>UCCP Template 1</title>
</head>

<body>

<div id="audio1" class="header">Topical Header Here</div>

<div id="marginCol">

	<div class="warning top125">
			<p>Enim tation wisi luptatum dolore autem vel suscipit volutpat exerci adipiscing in lorem magna ipsum elit ad amet ut, ad exerci zzril odio et molestie. Facilisi <i>veniam lobortis</i>.</p>
    </div>
	<div class="vocab top50">
			<a href="page/glossary.php?term=Virtual%20Pet" target="_blank">Vocabulary Term </a>			
    </div>
</div>

<div id="mainCol">

<p id="audio2"> Vero illum elit vero in molestie dignissim vulputate feugait, ullamcorper. Volutpat ea esse
uismod autem quis <span class="vocab">Vocabulary Term</span> dignissim.
</p>

<img class="imageRight" src="../art/robots/placeholder.png" width="140"  />

<p id="audio3">Feugait dolor ullamcorper volutpat exerci, wisi laoreet, nibh accumsan et feugait sit ut iusto veniam. Ipsum, eu consectetuer, praesent ad, lobortis veniam aliquam laoreet dignissim, veniam dolor iriure. Ullamcorper in odio aliquip ea diam augue nostrud zzril, tation facilisis eu. Nonummy tation adipiscing in et velit praesent consequat duis velit, illum, dignissim. 
</p>

<img class="imageLeft" src="../art/robots/placeholder.png" width="150" />

<p id="audio4">Aliquip odio aliquip ea diam augue nostrud zzril, tation facilisis eu tation tation adipiscing in et velit praesent consequat duis velit, illum. Nisl dolore blandit eros, facilisis lobortis nisl hendrerit facilisi iriure vel nulla luptatum. Wisi delenit eum duis ex delenit esse suscipit vulputate. Facilisis, minim vel nibh sed. </p>


<div id="audio5" class="redFlag right">Callout Statement Here</div>

</div>

</body>
</html>
