#promptdiv {
	color:#000;
	margin:3px 10px 15px 15px;
	line-height:150%;
}

#promptdiv p {
	font-size:.9em;
	}

#promptdiv tt, #promptdiv code {
	font-weight:bold;
	font-size:120%;
}
#promptdiv a:link, #promptdiv a:visited {
	color:#000;
}

#promptdiv pre {
	font:600 .85em "Courier New", Courier, monospace;
	color:#330000;
	white-space:pre;
	padding:10px;
	margin:15px;
	border-top:2px solid #999;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
	border-left:12px solid #999;
	line-height:120%;
}

#promptdiv pre.width20 {width:20%;margin-left:75px;}
#promptdiv pre.width30 {width:30%; margin-left:75px;}
#promptdiv pre.width40 {width:40%; margin-left:75px;}
#promptdiv pre.width50 {width:50%; margin-left:75px;}

#promptdiv a:hover {
	background-color:#FFFF00;
}

#promptdiv tt {
	font-size:150%;
	font-weight:700;
}

#promptdiv ol {
	font-size:.9em;
	margin-left:15px;
	font-weight:normal;
}

.instructionsReminder {
	float: right;
	text-align: right;
	margin: 2px 15px 0px 0;
	color: #333;
	vertical-align: middle;
}


#currentQuestionBox {
	margin: 0 auto;
	padding:10px 0;
	text-align:left;
	}
	
#currentQuestionBox { 
	width:100%;
	}
	
#fullColumn { 
	padding:10px;
	background-color:#FFD9ac;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	}
	
#questionTypeVerticalLabel {
	font-size:.9em;
	line-height:130%;
	font-weight:bold;
	text-transform:uppercase;
	margin:15px 0 0 0 ;
}

.itemLabel {
	font-size:.7em;
	text-transform:uppercase;
	margin:5px 0 0 15px;
}
	
#responsebox {
	width:90%; 
	height:190px;
	border:1px solid green;
	padding:10px;
	font-size:1.1em;
	margin:4px 10px 10px 15px;
	line-height:1.3em;
	border-right:2px ridge green;
	border-bottom:2px ridge green;	
}

textarea:disabled {
	background-color:#999999;
}

.starterSentence {
	float:right;
	margin-right:50px;
	font-size:.8em;
}

.starterSentence a:visited, .starterSentence a:link  {
	color:blue;
	padding:0 4px;
}

.starterSentence a:hover {
	background-color:#FFFF00;
}



	