/* STYLES FOR GRADE BY STEP AS THE EMBEDDED IFRAME -  gradebystep.html  */

.yui-skin-sam {
	background-image: none;
	background-color: #FFF;
}

iframe {
	width:100%;
}

#gradeByStepDiv {
	text-align: left;
	background-image: none;
	background-color: #FFE6C6;
	padding:5px;
	border: 1px solid #999;
}

#gradeByStepDiv .refreshButton {
	position:absolute;
	top:25px;
	right:25px;
}

#gradeByStepDiv h4 {
	padding: 8px 0 0px 20px;
	font-size: 1.1em;
}

.chooseStepToGradeTable  {
	padding-bottom:30px;
}

.chooseStepToGradeTable a:visited,.chooseStepToGradeTable a:link {
	display: block;
	margin-left: 40px;
	padding: 2px 2px;
	font-size: .8em;
	color: blue;
}

.chooseStepToGradeTable a:hover {
	background-color: #FFFF00;
	color: #000033;
}