/* Navigation menu specific css and theme customization */

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,400);

#vle_body #toggleNavLink.menu {
	padding-left:28px;
	background:transparent url('images/menu.png') no-repeat left center;
}

#vle_body #my_menu {
	height:100%;
	width:100%;
	position:relative;
}

/* Styles for navigation menu elements */

/*.sequence {
	
}

.sequence a {
	display:block;
	padding: 0.25em 0.5em;
}

.sequenceTitle {
	
}

.sequenceTitle a {
	color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    margin-right:.5em;
}

.sequence.inactive .sequenceTitle a {
	padding-right:14px;
	background:transparent url('images/plus.png') no-repeat right center;
}

.sequence.active .sequenceTitle a {
	padding-right:14px;
	background:transparent url('images/minus.png') no-repeat right center;
}

a.step, a.glue, a.sequenceTitle {
	display: block;
}

.step {
	
}

a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

.step a {
	background-color:#F4F2EF;
    color: #563C17;
}

.step a:hover {
	text-decoration: none;
    color:#000;
    background-color:#EBE7E2;
}

.step {
	border-bottom: 1px solid #EAE8E5;
}

.step table {
	width:100%;
}

.step table td img {
	vertical-align:top;
}

.step table td.stepIcon {
	width:18px;
}

.step table td.statusIcon {
	text-align: right;
    width: 18px;
}

a.glue {
	
}

.sequence {
	margin: 0 0 0.5em;
    padding: 0;
	background-color: #9D8B71;
}

.sequence:last-child {
	margin-bottom:0;
}

.sequence.nested {
	border-left: .25em solid #745A34;
    margin-bottom: 0;
}

.sequence.nested.inactive .sequenceTitle a {
	background:transparent url('images/plus.png') no-repeat right center;
}

.sequence.nested.active .sequenceTitle a {
	background:transparent url('images/minus.png') no-repeat right center;
}

.sequence.nested.hide {
	display:none;
}

.sequence.nested.show {
	
}

.step.inactive {
	
}

.step.active {
	
}

.step.constraintDisable a, .step.constraintDisable a:hover {
	background-color: #BBBBBB;
    color: #777777;
}

.step.menuStepHighlight a {
	background-color:#E2E896;
}

.step.constraintHidden {
	display:none;
}*/

.currentNode a {
	/*background-color: #FFFFFF !important;
    border-color: #F47F6E;
    border-style: solid;
    border-width: 0 0 0 0.5em;
    color: #000 !important;
    padding:.25em .5em .25em 0;*/
}

/* Starmap */

#toggleView {
	position:absolute;
	top:10;
	left:10;
}

#my_menu {
	
}

#my_menu > canvas {
	position:absolute;
	top:0;
	left:0;
}

canvas#canvas {
	background-color:rgba(255,255,255,.1);
}

svg#chart {
	position:absolute;
}

#mapBgImg.zoom {
	opacity:0;
	-webkit-transition: opactiy .4s;
    -moz-transition: opactiy .4s;
    -o-transition: opactiy .4s;
    transition: opactiy .4s;
}

.item circle, .item image, .seq, .link, .hull {
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.node {
	opacity:0;
	display:none;
}

.node.active {
	cursor:pointer;
	opacity:1;
	display:block;
}

.node circle {
	fill: #2e297c;
	fill-opacity: .7;
	stroke: #fff;
	stroke-opacity:.5;
	stroke-width:1.5;
}

.node.inactive circle.main {
	fill:#aaa;
	/*stroke:#777;*/
	opacity:.2; 
}

.node circle.detail {
	fill: #222;
	fill-opacity: 1;
	stroke: #000;
	stroke-opacity:1;
	stroke-width:1;
	opacity:0;
}

.node.active circle.detail {
	opacity:1;
}

.node image {
	opacity:0;
}

.node.active image {
	opacity: 1;
}

.node circle.main.mouseover {
	stroke-width:2;
	stroke-opacity:.75;
	fill-opacity:.75;
}

.node.active.current circle.main {
	stroke-opacity:1;
	stroke-width:1.5;
	fill-opacity:1;
}

.node text {
	opacity:0;
	font-size: 5px;
	font-family: Arial;
	fill: #cdfaeb;
	font-weight:normal;
}

.node.active text {
	opacity:1;
}

/*.node.active:hover text {
	opacity:0;
}*/

.node.current text {
	opacity:1;
}

.info {
	display:none;
}

.info body {
	padding:.5em;
	border:1px solid #444;
	background-color:#fff;
}

.info p, .info div {
	font-size:4px;
}

.seq .icon {
	cursor:pointer;
}

.seq text {
	opacity:1;
	font-size:10pt;
	font-weight:200;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	fill:#cfff4a;
	stroke:none;
	stroke-width:0;
}

.seq .seqInfo {
	opacity:0;
	pointer-events: none;
}

.seq .title.seqInfo, .seq .titleBg.seqInfo {
}

.seq tspan.pos {
	fill: #d1ffef;
}

/*.seq text.outline {
	stroke: #ffc000;
	fill:none;
	stroke-width:2;
}*/

.seq.active {
	display:none;
}

.seq.active text {
	display:none;
}

.seq.inactive {
	display:none;
}

.seq.inactive text {
	display:none;
}

path.link {
    stroke: #8a85d1;
    opacity:0;
    display:none;
    stroke-width:1.5;
}

path.link.seq {
	opacity:.6;
	display:block;
}

path.link.seq.active, path.link.seq.inactive {
	opacity:0;
	display:none;
}

path.link.path.active {
	/*opacity:.6;
	display:block;*/
}

path.link.path.inactive {
	/*opacity:.1;*/
}

path.hull {
	fill:#fff;
	stroke:#fff;
	opacity:0;
	display:none;
}

path.hull.active {
    opacity: .1;
    display:block;
}

path.hull.inactive {
	/*stroke:#000;
	fill:#000;
	opacity:.3;*/
	opacity:0;
}

path.target {
	cursor:pointer;
	fill:#fff;
	stroke:#fff;
	opacity:0;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display:block;
}

path.target:hover {
	opacity:.2;
}

path.target.active {
	display:none;
}

#activityControls {
	position:absolute;
	right:50px;
	bottom:50px;
}

#activityControls #currentAct {
	color:#fff;
	font-weight:bold;
	font-size:1.5em;
	margin:0 2em;
}

#reset {
	position:absolute;
	left:50px;
	bottom:50px;
}

#toggleView {
	position:absolute;
	left:50px;
	top:50px;
}
